.el-table th {
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.el-table td {
    text-align: center;
    padding: 10px;
    border-bottom: 10px solid #eee;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.el-pagination {
    border-radius: 1px;
    padding: 1px;
    background-color: #f7f7f7;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    text-align: center;
}

button:hover .create-btn{
    background-color: deepskyblue;
}

.editButton {
    background-color: #ffc107;
    color: #fff;
    border: none;
}

.deleteButton {
    background-color: #f44336;
    color: #fff;
    border: none;
}

.create-btn{
    background-color: #7ec699;
}

.blur-background {
    filter: blur(5px);
    transition: filter 0.3s ease;
}

.status {
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    color: white;
}

.status.notStarted {
    background-color: #e74c3c;
}
.status.done {
    background-color: #28a745;
}

.status.in-progress {
    background-color: #ba8b00;
    color: #000;

    .controls {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .controls input {
        padding: 10px;
        font-size: 16px;
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.error {
    color: red;
    font-size: 12px;
}

.table {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-color: #4a5568;
    display: flex;
}

.actions-container {
    margin-top: 20px;
    gap: 10px;
    display: flex;
}

.download-button{
    color: #fff;
    background-color: #138496;

}
